.header-account-selector {
    padding: 16px 12px;
    background-color: #FFF;
    transition: background-color 0.25s ease-in-out;
    min-height: 60px;
    display: block;
}

.header-account-selector:hover {
    cursor: pointer;
    background-color: #FAFAFA;
}

.header-account-selector > .grid {
    max-height: 60px;
}

.header-account-selector .profile-image {
    display: block;
    width: 28px;
    height: 28px;
}

.header-account-selector .profile-name {
    color: #3C4144;
    font-size: 15px;
    font-weight: 400;
    max-width: 100px;
    max-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1em;
}

.header-account-selector .selector-icon {
    width: 8px;
    height: 16px;
}

.header-account-selector .selector-icon .icon {
    display: block;
    width: 8px;
    height: 8px;
    font-size: 14px;
    vertical-align: baseline;
    line-height: 8px;
    color: #D8D8D8;
    transition: color 0.25s ease-in-out;
}

.header-account-selector:hover .selector-icon .icon {
    color: #3C4144;
}