.header-content-navigation {
    background-color: #FFF;
    transition: background-color 0.25s ease-in-out;
    min-height: 60px;
    padding: 0 10px;
}

.header-content-navigation ul > li {
    padding: 0 10px;
}

.header-content-navigation ul > li:last-child {
    padding-right: 0;
}

.header-content-navigation ul > li > a {
    font-size: 14px;
    line-height: 14px;
    color: #637381;
    border-bottom: solid 2px transparent;
    display: block;
    text-transform: capitalize;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    text-align: center;
    white-space: nowrap;
    padding: 22px 0;
}

.header-content-navigation ul > li:hover a {
    color: #212B36;
}

.header-content-navigation ul > li.selected a {
    color: #212B36;
    border-color: #FE7A1E;
}